@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
}

/* Grid */
.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}
.container::after {
  content: "";
  display: table;
  clear: both;
}
.column,
.columns {
  width: 100%;
  float: left;
  display: inline-block;
  vertical-align: top;
}
@media (min-width: 550px) {
  .one.column,
  .one.columns { width: 8.333%; }
  .two.columns { width: 16.66%; }
  .three.columns { width: 25%; }
  .four.columns { width: 33.33%; }
  .five.columns { width: 41.66%; }
  .six.columns { width: 50%; }
  .seven.columns { width: 58.33%; }
  .eight.columns { width: 66.66%; }
  .nine.columns { width: 75%; }
  .ten.columns { width: 83.33%; }
  .eleven.columns { width: 91.66%;}
  .twelve.columns { width: 100%; }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 940px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

/* Basic styling */
body {
  background-color: #fafafa;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
}

a {
  color: #3c4858;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
a:hover {
  color: #167c80;
}

button {
  border: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  box-shadow: none;
  background: transparent;

  min-width: 64px;
  margin: 0 8px;
  padding: 0 8px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  border-radius: 2px;
  color: #167c80;
  cursor: pointer;
  transition: background 0.1s ease-out;
}
button:hover {
  background: rgba(0, 0, 0, 0.06);
}

a.button {
  background-color: #2196f3;
  color: white;
  cursor: pointer;
}

a.button:hover {
  background-color: white;
  color: #2196f3;
}
a.small.button {
  padding: 0 12px;
  line-height: 24px;
  height: 24px;
}
a.button.delete {
  background-color: #ce0f0f;
}
a:hover.delete {
  color: #ce0f0f;
}

/* Material card */
.card {
  padding: 24px;
  margin-bottom: 24px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.card .header {
  margin-bottom: 32px;
}
.card .header > * {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
}
.card .header .title {
  font-size: 24px;
  line-height: 36px;
  vertical-align: middle;
  color: #3c4858;
}
.card .actions {
  padding-top: 24px;
}
.card .actions > * {
  float: right;
}

/* Kernel list */
.kernels .vendor, .kernels .kernel {
  display: block;
  text-align: left;
}
.kernels .vendor {
  margin: 12px 0 6px;
  font-size: 24px;
  line-height: 32px;
  color: #167c80;
}
.kernels .kernel {
  font-size: 16px;
  line-height: 26px;
}
/* CVE list */
.cves .cve {
  display: block;
  font-size: 16px;
  line-height: 26px;
}

/* Navbar */
#navbar + * {
  margin-top: 100px;
}
#navbar {
  background: #ffffff;
  color: #000000;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 30px;
}
#navbar .logo {
  float: left;
  padding: 0;
}
#navbar .logo img {
  display: block;
  height: 50px;
}
#navbar .items {
  float: right;
}
#navbar .items > * {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  vertical-align: top;
  font-weight: 400;
  font-size: 12px;
  border-radius: 2px;
}
#navbar .items > *:hover {
  color: #000;
  background-color: rgba(0, 0, 0, 0.02);
}
#navbar .items .active {
  background-color: rgba(0, 0, 0, 0.04);
}
#navbar .items .active:hover {
  background-color: rgba(0, 0, 0, 0.06);
}
#navbar .mdi {
  font-size: 32px;
}
/* Footer */
#footer {
  background-color: #eeeeee;
  width: 100%;
  padding: 16px 0;
}
#footer .container {
  padding: 0 24px;
}
#footer .logo {
  height: 18px;
  margin-top: 16px;
}
#footer .muted {
  color: #777;
  margin: 14px 0;
  font-size: 14px;
}
#footer .muted b {
  font-weight: 700;
}

/* CVE patch status */
.status {
  cursor: pointer;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}
.status_1 {
  color: #d32f2f; /* Red 700 */
}
.status_1:hover {
  color: #c62828; /* Red 800 */
}
.status_2 {
  color: #388e3c; /* Green 700 */
}
.status_2:hover {
  color: #2e7d32; /* Green 800 */
}
.status_3 {
  color: #fbc02d; /* Yellow 700 */
}
.status_3:hover {
  color: #f9a825; /* Yellow 800 */
}
.status_4 {
  color: #1976d2; /* Blue 700 */
}
.status_4:hover {
  color: #1565c0; /* Blue 800 */
}
.status_5 {
  color: #00796b; /* Teal 700 */
}
.status_5:hover {
  color: #00695c; /* Teal 800 */
}

/* Progress bar */
#progress {
  text-align: center;
  height: 20px;
  line-height: 20px;
}
#progress-bar {
  width: calc(100% - 60px);
  margin: 6px 0;
  background: rgba(22, 124, 128, 0.2);
  float: left;
}
#progress-bar-inner {
  height: 8px;
  background: rgba(22, 124, 128, 1);
}
#progress-value {
  float: right;
  width: 60px;
}

/* Context menu */
.context-menu {
  display: none;
  position: absolute;
  background: #ffffff;
  border-radius: 2px;
  padding: 8px 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  line-height: 32px;
}
.context-menu.active {
  display: block;
}
.context-menu > * {
  cursor: pointer;
  padding: 0 16px;
}
.context-menu > *:hover {
  background: rgba(0, 0, 0, 0.04);
}


/* Hide */
#addcvedialog,
#addkerneldialog,
#cveinfodialog,
#editnotesdialog,
#deprecationdialog,
#status_ids,
#addlink,
#confirmdelete {
  display: none;
}

#linklist {
  text-align: left;
}

.ui-widget .ui-widget-content {
  word-break: break-word;
}

.deprecated {
  color: #ff0000;
}

#cvelinks hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
#cvelinks a {
  color: #ff0000;
}
#cvelinks a:hover {
  text-decoration: underline;
}
