{% extends "base.html" %}
{% block title %}LineageOS CVE Tracker{% endblock %}
{% block head %}
  {{ super() }}
  <script src='{{ url_for('static', filename='js/main.js') }}'></script>
{% endblock %}
{% block nav_home %}active{% endblock %}
{% block content %}
  <div id='addcvedialog' title='Add new CVE'>
    <input type='text' id='cvetoadd' placeholder='CVE-20XX-XXXX' size='30'><sup>1)</sup><br/>
    <textarea placeholder='Applicable versions/platforms...' type='text' name='notes' id='cvenotes_input' cols='30'></textarea><br/>
    <span style="font-size: 10pt;"><sup>1)</sup> You can use the prefix "LVT" for vulnerabilities without official CVE-ID</span>
    <div id='addcveerror'></div>
  </div>

  <div id='addkerneldialog' title='Add new Kernel'>
    <input type='text' id='kerneltoadd' placeholder='android_kernel_vendor_name' size='30'><sup>1)</sup><br/>
    <span style="font-size: 10pt;"><sup>1)</sup> Use the full github repo name, e.g. <i>android_kernel_yourvendor_kernelname</i></span>
    <div id='addkernelerror'></div>
  </div>

  <div class="kernels card container">
    <div class="header">
      <span class="title">Kernels</span>
    </div>
    <div class="container">
      {% for vendor_name, vendor in vendors.items() -%}
        <div class="vendor">
          <span class="title">{{ vendor_name }}</span>
          {% for kernel in vendor -%}
            <div class="kernel">
              <a class="repo" href="/{{ kernel.repo_name }}">{{ kernel.device }}</a>
              <span>({{ kernel.progress | int }}%)</span>
            </div>
          {%- endfor %}
        </div>
      {%- endfor %}
    </div>

    {% if authorized %}
      <div class="actions container">
        <button onclick="addcve()">ADD CVE</button>
        <button onclick="addkernel()">ADD KERNEL</button>
      </div>
    {% endif %}
  </div>
{% endblock %}
