{% extends "base.html" %}
{% block title %}LineageOS CVE Tracker{% endblock %}
{% block nav_home %}active{% endblock %}
{% block content %}
    <div class="card container">
        <div class="header">
            <span class="title">Welcome</span>
        </div>
        <div class="container">
            <h3>What is this?</h3>
            <span>The CVE tracker is a manual way to keep track of the patch status of CVEs for the kernels used in official devices</span>
            <br/><br/>
            <h3>What's a CVE?</h3>
            <span>Common Vulnerabilities and Exposure. In a few words: These are basically security holes which <i>can</i> (mostly not even that) be used to
            get access to your device's data</span>
            <br/><br/>
            <h3>The kernel for my device is only at x%, why is it so insecure?</h3>
            <span>First, please note that the tracker has to be manually maintained by each device maintainer. It does not necessarily represent the 
            actual patch status of the kernel. Additionally, only very few of the CVEs can actually be used to exploit your data, others are just theoretical security holes and
            can't be used due to other security measures such as SELinux</span>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
