{% extends "base.html" %}
{% block title %}LineageOS Kernel Tracker for {{ kernel.repo_name }}{% endblock %}
{% block content %}
  <div id="status_ids">
    {% for s in status_ids -%}
      <div id={{ "status_" ~ s.short_id }}>
        {{ s.text }}
      </div>
    {%- endfor %}
  </div>

  <div id='cveinfodialog'>
    <b>Notes:</b><br/>
    <span id='cvenotes'></span>
    {% if authorized %}
      <a class='small button' onclick='editnotes(this);'>Edit</a>
    {% endif %}
    <br/>
    <b>Links:</b><br/>
    <span id='cvelinks'></span><br/>
    {% if authorized %}
      <a href='' id='cveeditlink' class='small button'>Edit CVE</a>
    {% endif %}
    <a href='' id='cvecomparelink' class='small button'>Compare to other kernels</a>
  </div>

  <div id='editnotesdialog' title='Edit CVE notes'>
    <textarea placeholder='Applicable versions/platforms...' type='text' name='notes' id='cvenotes_input' ></textarea><br/>
    <div id='editnoteserror'></div>
  </div>

  <div id='deprecationdialog' title='Are you sure?' kernel_id={{ kernel.id }} deprecated={{ kernel.deprecated }}>
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>You are about to mark this kernel as
    '{% if kernel.deprecated %}non-deprecated{% else %}deprecated{% endif %}'. Are you sure?
    </p>
  </div>

  <div class="cves card container">
    <div class="header">
      <span class="title">
        CVE status for 
        <a href="https://github.com/LineageOS/{{ kernel.repo_name }}">{{ kernel.repo_name }}</a>
      </span>
      <span class="subtitle">
        updated on {{ kernel.last_github_update.strftime('%b %d, %Y') }}
      </span>
      {% if devices %}
      <div id="devices" class="subtitle">
        <span>used by </span>
        {% for d in devices -%}
            <a class="device" href="https://github.com/LineageOS/{{ d }}">
              {{ d }}{% if not loop.last %},{% endif %}
            </a>
        {%- endfor %}
      </div>
      {% endif %}
      <div id="progress">
        <div id="progress-bar" value="{{ kernel.progress }}">
          <div id="progress-bar-inner"></div>
        </div>
        <div id="progress-value"></div>
      </div>
    </div>

    <div class="container">
      {% set counter = [0] %}
      {% for column in cves | slice(3) %}
      {% set cveloop = loop %}
        <div class="four columns">
          {% for c in column %}
            <div class="cve" id="{{ c.cve_name }}">
              <span onclick="openLinks('{{ c.cve_name }}', '{{ c.id }}')">{{ c.cve_name }}</span>
              <span class="status status-context-menu" kernel_id="{{ kernel.id }}" cve_id="{{ c.id }}" status_id="{{ patch_status[counter[0]] }}"></span>
            </div>
          {% if counter.append(counter.pop() + 1) %} {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
    {% if authorized %}
      <div class="actions container">
        <button onclick="deprecate()">
          {% if kernel.deprecated %}
            MARK AS NOT DEPRECATED
          {% else %}
            MARK AS DEPRECATED
          {% endif %}
        </button>
      </div>
    {% endif %}
  </div>
{% endblock %}
{% block scripts %}
  <script src='{{ url_for('static', filename='js/progress.js') }}'></script>
  <script src='{{ url_for('static', filename='js/cve.js') }}'></script>
  <script src='{{ url_for('static', filename='js/kernel.js') }}'></script>
  {% if authorized %}
    <script src='{{ url_for('static', filename='js/context.js') }}'></script>
    <script src='{{ url_for('static', filename='js/updates.js') }}'></script>
  {% endif %}
{% endblock %}